<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Example Client</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all">
  </head>
<body>

<h3>Messages</h3>
<div class="message_holder"></div>

<form action="" method="POST">
  <input type="text" class="username" placeholder="User Name"/>
  <input type="text" class="message" placeholder="Messages"/>
  <input type="submit"/>
</form>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    const socket = io(window.location.protocol + '//' + document.domain + ':' + location.port);


    socket.on( 'connect_failed', function( arg )
    {
        console.log("websocket connection failed", arg );
    } );

    socket.on('connect', function()
    {
        console.log("connecting to websocket");
    } );

    // when we receive a 'registration' event
    socket.on( 'message_event', function( msg )
    {
        console.log( msg )
        for ( key in msg )
        {
            $( 'div.message_holder' ).append( key + " = " + msg[key] + "</br>" );
        }
        $( 'div.message_holder' ).append( '---</br>' );
    } );

    // handler for the submission form
    var form = $( 'form' );
    form.on( 'submit', function( e )
    {
        e.preventDefault() // prevent default submit action
        let user_name = $( 'input.username' ).val();
        let user_input = $( 'input.message' ).val();
        data = { user_name : user_name,
                 message : user_input };
        console.log( "sending data through websocket",  data);
        // send data through websocket
        // 'message' needs to be registered on the server
        socket.emit( 'message_event', data );
        // clear input
        $( 'input.message' ).val( '' ).focus();
    } );
</script>

</body>
</html>
